@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


:root {
    --primary-color: rgb(186, 241, 32);
    --dark-primary: #13160B;
    --secondary-color: rgb(19, 22, 11);
}

p{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Syne', sans-serif;
}

/* Nav Styles */

nav {
    background-color: var(--dark-primary);
}

.nav-item{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.nav-link{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: white !important;
}

.nav-item i{
    font-size: 11px;
}

/* End Nav Styles */

/* Carousel Styles */

#carouselExampleAutoplaying{
    height: 661px;
}

#carouselExampleAutoplaying img{
    height: 661px;
    object-fit: cover;
}

/* End Carousel Styles */

/* Carousel Overlay Styles */

.carousel-item{
    position: relative;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    color: white;
}

.overlay small{
    text-transform: uppercase;
    letter-spacing: .19em;
    font-size: 1.3em;
    opacity: 0;

    animation: appear-text .7s ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.overlay h2{
    font-weight: 700;
    max-width: 500px;
    font-size: 4em;
    opacity: 0;
    
    animation: appear-text .7s ease-in;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

.overlay button{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 15px 35px;
    font-weight: 600;
    font-size: 17px;
    opacity: 0;
    transition-duration: .2s;
    
    
    animation: appear-text .7s ease-in;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
}

.overlay button:hover{
    background-color: var(--secondary-color);
    color: white;
}

/* End Carousel Overlay Styles */

/* Carousel Bottom Styles */

#carousel-bottom{
    background-color: var(--dark-primary);
    color: white;
    overflow: hidden;
    padding: 15px 0;
    height: 70px;

    position: relative;
}

.bottom-container{
    display: flex;
    align-items: center;

    
    width: 3500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    animation: move-bottom 2s infinite linear reverse;
}

.bottom-container i{
    color: var(--primary-color);
    font-size: 16px;
    margin: 0 10px;
}

.bottom-container p{
    letter-spacing: .1em;
    font-size: 20px;
    font-weight: 700;
}

/* End Carousel Bottom Styles */

/* Publicity Styles*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(50px, auto);
    padding: 30px;
}

.grid-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 28px;
    padding: 30px;
    background-size: 110% 100%;
    transition: all 1.4s ease-out;
    background-position: center center;
    cursor: pointer;
}

.grid-container > div:hover{
    background-size: 120% 110%;
}

.grid-container > div h3{
    font-weight: 700 !important;
}

.grid-container > div h3.up{
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
}

.grid-container > div h3.down{
    position: relative;
    padding: 15px 30px;
    padding-top: 0;
    border-radius: 0px 0 30px 30px;

    background-color: white;
}

.grid-container > div h3.down::before{
    content: " ";
    width: 21px;
    height: 21px;
    background-image: url(images/descarga.svg);
    position: absolute;
    top: 0;
    right: -21px;
}

.grid-container button {
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;

    transition-duration: .2s;
}

.grid-container button.green{
    background-color: var(--primary-color);
}

grid-container button.white {
    background-color: white;
}

.grid-container button:hover{
    background-color: var(--secondary-color);
    color: white;
}


.run{
    grid-column: 1 / 7;
    grid-row: 1 / 6;

    background-image: url(images/m1_banner_04.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    align-items: start;
}

.basket{
    grid-column: 7 / 11;
    grid-row: 1 / 5;
    background-image: url(images/m1_banner_06.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    align-items: start;
}

.basket h3{
    font-size: 24px !important;
    max-width: 61%;
}

.sport h3{ 
    font-size: 35px;
}

.performance h3{
    font-size: 35px;

}

.sport{
    grid-column: 1 / 4;
    grid-row: 6 / 10;
    background-image: url(images/m1_banner_05.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    text-align: center;
    color: white;
}

.performance{
    grid-column: 4 / 7;
    grid-row: 6 /10;
    background-color: var(--primary-color);

    align-items: start;
    color: white;

    font-size: 40px;
}

.box{
    grid-column: 7 / 11;
    grid-row: 5 / 10;
    background-image: url(images/m1_banner_07.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    align-items: start;
}


/* End Publicity Styles */

@keyframes move-bottom {
    from {
        right: -460px;
    }
    to {
        right: -890px;
    }
}

@keyframes appear-text {
    from {
        margin-left: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}

/* Media queries */

@media (max-width: 1200px) {
    .run{
        grid-column: 1 / 11;
        grid-row: 1 / 7;
    }

    .sport{
        grid-column: 1 / 6;
        grid-row: 7 / 11;
    }

    .performance{
        grid-column: 6 / 11;
        grid-row: 7 /11;
    }

    .basket{
        grid-column: 1 / 11;
        grid-row: 11 / 18;
    }

    .box{
        grid-column: 1 / 11;
        grid-row: 18 / 28;
    }
}

@media (max-width: 778px) {
    .run{
        grid-column: 1 / 11;
        grid-row: 1 / 4;
    }

    .sport{
        grid-column: 1 / 11;
        grid-row: 4 / 10;
    }

    .performance{
        grid-column: 1 / 11;
        grid-row: 10 / 15;
    }

    .basket{
        grid-column: 1 / 11;
        grid-row: 15 / 19;
    }

    .box{
        grid-column: 1 / 11;
        grid-row: 19 / 25;
    }
}



@media (max-width: 550px) {
    .overlay{
        padding: 0 50px;
    }
    .overlay h2{
        font-size: 2.8em;
    }

    .grid-container > div h3.down::before{
        display: none;
    }

    .grid-container > div h3.up{
        border-radius: 30px 30px 0px 0;
    }
    
    .grid-container > div h3.down{
        width: 100%;
        border-radius: 0px 0 30px 30px;
    }
}


@media (max-width: 380px) {
    .overlay h2{
        font-size: 2.5em;
    }

    .overlay button{
        padding: 10px 20px;
        font-size: 15px;
    }
}